<head>
    <div class="container">
        <% if(sessionFlash && sessionFlash.message){ %>
            <div style="width: 100%; margin: 10px auto" class="alert alert-<%=sessionFlash.type%>">
                <h4><%= sessionFlash.message %></h4>
            </div>    
        <% } %>
    </div>
    <title>Rileys blog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/landing.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
</head>

<body>
    <div id="landing-header">
 		<h1>Welcome to Rileys Blog!</h1>
		<a href="/blogs" class="btn btn-primary btn-lg">Enter</a>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li> 
      <li></li>
      <li></li>
      <li></li>
    </ul>
 <% include partials/footer %>